/* fonts */

@font-face {
    font-family: barlow_600;
    src: url(../fonts/Barlow/Barlow-SemiBold.ttf);
}

@font-face {
    font-family: fraunces_600;
    src: url(../fonts/Fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
    font-family: fraunces_700;
    src: url(../fonts/Fraunces/static/Fraunces_144pt-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    /* primary colors */

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    /*  (graphic design text) */
    --dark-desat-cyan: hsl(167, 40%, 24%);
    /* (photography text): */
    --dark-blue:hsl(198, 62%, 26%);
    /* footer */
    --dark-moderate-cyan: hsl(168, 34%, 41%);

   /* neutral colors */

    --very-dark-desat-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);


    --text-normal: 1rem;
    --text-md: 2rem;
    --text-lg: 3rem;
    --text-xl: 3.5em;
}

h1, h2, h3, h4, h5, h6{
    font-family: fraunces_700;
    line-height: 1.2;
}

a{
    color: var(--very-dark-desat-blue);
    text-decoration: none;
    cursor: url(../assets/icons/icon-sun.svg), auto;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    font-family: barlow_600;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--very-dark-desat-blue);
}

/* utilities */

.container-xl{
    width: min(1400px, 100%);
    margin-inline: auto;
}

.container-lg{
    width: min(1200px, 100%);
    margin-inline: auto;
}

.container-md{
    width: 800px;
    margin-inline: auto;
}

.primary{
    font-family: fraunces_600;
    text-transform: uppercase;
}

.sun{
    cursor: url(../assets/icons/icon-sun.svg), auto;
}

.windmill{
    cursor: url(../assets/icons/icon-windmill.svg), auto;
}




/* styles */

/* nav */

header{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    padding: 2rem 3rem;
    z-index: 100;
}

#hamburger, #hamburger_toggle{
    display: none;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    padding: .8rem 1.5rem;
    color: var(--white);
    transition: 0.3s ease-in-out;
}

header nav a:hover{
    opacity: 0.7;
}

header nav .primary{
    color: var(--very-dark-desat-cyan);
    background-color: var(--white);
    border-radius: 3rem;
    transition: 0.3s ease-in-out;
}

header nav .primary:hover{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: var(--white);
    opacity: 1;
}



/* hero-section */

#hero-section{
    background: url(../assets/desktop/image-header.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-block: 8rem 5rem;
    max-height: 100vh;
}

#hero-section .title{
    font-size: var(--text-xl);
    font-family: fraunces_700;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    letter-spacing: .5rem;
    padding-inline: 3rem;
}


#hero-section .arrow-down{
    display: block;
    margin: 10rem auto;
}


/* about section */

#about{
    height: 100%;
}

#about .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about .row .about-content{
    align-self: center;
}

#about .about-content{
    width: 60%;
    margin-inline: auto;
}

#about .about-content h2{
    font-size: var(--text-lg);  
}

#about .about-content p{
    padding-block: 2rem;
    color: var(--grayish-blue);
}

#about .about-content .underline{
    font-family: fraunces_700;
    text-transform: uppercase;
    color: var(--very-dark-desat-cyan);
    position: relative;
}

#about .about-content .underline::after{
    content: '';
    position: absolute;
    width: 110%;
    height: 8px;
    border-radius: 8px;
    bottom: 0;
    left: -5%;
    z-index: -1;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

#about .about-content .yellow::after{
    background-color: var(--yellow);
}

#about .about-content .pink::after{
    background-color: var(--soft-red);
}

#about .about-content .underline:hover::after{
    opacity: 1;
}


#about .graphic{
    background-image: url(../assets/desktop/image-graphic-design.jpg);
    color: var(--dark-desat-cyan);
}

#about .photography{
    background-image: url(../assets/desktop/image-photography.jpg);
    color: var(--dark-blue);
}


#about .about-column-content{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5rem 8rem;
}

#about .about-column-content p{
    margin-top: 2rem;
}

#about .about-column-content h3{
    font-size: var(--text-md);
}


/* testimonial section */
#testimonial{
    padding-block: 8rem;
}
#testimonial h3{
    font-size: var(--text-md);
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-grayish-blue);
    margin-bottom: 5rem;
    padding-inline: 3rem;
}

#testimonial .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#testimonial .row .client{
    text-align: center;
}

#testimonial .row .client .avatar img{
    border-radius: 50%;
    height: 80px;
    margin-inline: auto;
}

#testimonial .row .client .feedback{
    margin: 3rem auto;
    width: 80%;
    color: var(--very-dark-grayish-blue);
}

#testimonial .row .client .citation .name{
    font-size: 20px;
    margin-bottom: 0.5rem;
}

#testimonial .row .client .citation .position{
    color: var(--grayish-blue);
}

/* gallery section */

#gallery .wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* footer */
footer{
    background-color: rgb(69, 140, 126, 0.8);
    padding: 5rem 0;
    display: grid;
    place-items: center;
}

footer .footer-links{
    margin: 2rem 0 4rem;
}

footer .footer-links a{
    color: var(--dark-desat-cyan);
    margin-right: 1rem;
    transition: 0.3s ease-in-out;
}

footer .footer-links a:hover{
    color: var(--white);
}

footer .social-media-links{
    display: flex;
    gap: 1rem;
    transition: 0.3s ease-in-out;
}

footer .social-media-links a img:hover{
    filter: brightness(0) invert(1);
}


/* media queries */

@media screen and (max-width: 1000px){

    /* header{
        position: fixed;
    } */

    header .container nav{
        display: none;
    }
    
    #hamburger_toggle{
        display: block;
        position: relative;
        height: 55px;
        aspect-ratio: 1;
    }

    #hamburger_toggle span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 5px;
        width: 80%;
        border-radius: 5px;
        background-color: var(--white);
    }

    #hamburger_toggle span:nth-child(1){
        top: 25%;
        transition: .3s ease-in-out;
    }

    #hamburger_toggle span:nth-child(2){
        width: 50%;
    }

    #hamburger_toggle span:nth-child(3){
        top: 75%;
        transition: .3s ease-in-out;
    }

    #hamburger:checked ~ #hamburger_toggle span:nth-child(2){
        display: none;
    }

    #hamburger:checked ~ #hamburger_toggle span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    #hamburger:checked ~ #hamburger_toggle span:nth-child(3){
        top:50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #hamburger:checked ~  nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 130px;
        right: 3rem;
        height: 300px;
        aspect-ratio: 1;
        background-color: var(--white);
        
        a{
            color: var(--dark-grayish-blue);
        }

        .primary{
            background-color: var(--yellow);
            color: var(--very-dark-desat-blue);
        }

        .primary:hover{
            background: rgba(250, 212, 0, 0.5);
        }
    }

    #hamburger:checked ~  nav::before{
        content: " ";
        position: absolute;
        top: -50px; 
        right: 0;
        border-width: 25px;
        border-style: solid;
        border-color: transparent transparent var(--white) transparent;
    }
   
    header nav a{
        padding: .8rem 1.5rem;
        color: var(--white);
    }

    /* about section */

    #about .row{
        display: grid;
        grid-template-columns: 1fr;
    }

    #about .row .one{
        order: 1;
    }
    
    #about .row .two{
        order: 2;
    }

    #about .row .three{
        order: 3;
    }

    #about .row .four{
        order: 4;
    }

    #about .row .five{
        order: 5;
    }

    #about .row .six{
        order: 6;
    }
    
    #about .row .about-content{
        align-self: center;
    }
    
    #about .about-content{
        text-align: center;
        width: 70%;
        padding: 5rem 0;
    }

    #about .about-picture img{
        width: 100vw;
    }

    #about .about-column-content{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 10rem 10rem 3rem;
        text-align: center;
    }
    
    #about .about-column-content p{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    /* about */
    #about .about-column-content{
        padding: 10rem 4.5rem 3rem;
    }

    /* testimonial section */
    #testimonial{
        padding-block: 8rem;
    }
    #testimonial h3{
        font-size: var(--text-md);
        text-transform: uppercase;
        text-align: center;
        color: var(--dark-grayish-blue);
        margin-bottom: 5rem;
    }

    #testimonial .row{
        flex-direction:  column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    #testimonial .row .client{
        text-align: center;
        width: 60%;
    }


    #testimonial .row .client .feedback{
        margin: 3rem auto;
        width: 100%;
        color: var(--very-dark-grayish-blue);
    }

    #testimonial .row .client .citation .name{
        font-size: 20px;
        margin-bottom: 0.5rem;
    }
    /* gallery section */

    #gallery .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    :root{
        --text-normal: 1rem;
        --text-md: 1.5rem;
        --text-lg: 2rem;
        --text-xl: 2.8rem;
    }

    header{
        padding: 2rem 2.3rem;
    }

    #hamburger:checked ~  nav{
        right: 2.3rem;
    }

    /* about */

    #about .graphic{
        background-image: url(../assets/mobile/image-graphic-design.jpg);
        color: var(--dark-desat-cyan);
    }
    
    #about .photography{
        background-image: url(../assets/mobile/image-photography.jpg);
        color: var(--dark-blue);
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }